body {
    background-image: url('images/background.JPG');
    background-size: cover;
  }
  .container{
      justify-content: center;
  }
  h1>img {
    height: 100px;
    width: 100px;
}
#help {
    border-radius: 10px;
    float: right;
  }
  .login {
    text-align: center;
  }
  .jumbotron {
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    width: 400px;
    display: block;
  }
  #player-one, #player-two {
    width: 200px;
    display: block;
    margin:0 auto;
  }